.details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem 3rem 3rem;
  background-color: white;
  border-radius: 5px;
  width: 500px;
  max-width: 80%;
}

.details-wrapper h3 {
  background-color: rgba(219, 133, 133, 0.582);
  padding: 0.5rem;
  border-radius: 5px;
}

.details-wrapper p {
  padding: 0.5rem;
}

.details-wrapper table {
  margin: 1rem 0;
  width: 100%;
  border: 3px #333 solid;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-wrapper .button {
  text-decoration: none;
  width: 6rem;
  margin: 1rem;
}

.details-field th,
td {
  padding: 0.5rem 0;
}
