@page
@model AdminClient.Pages.Students.CreateStudent

@section styles {
<link rel="stylesheet" href="~/css/form.css">
}

@{
    ViewData["Title"] = "Add student";
}

<header>
    <h1 class="page-title">Add new student</h1>
</header>
<section class="form-wrapper">
    <partial name="_StatusMessage" for="StatusMessage" />
    <form class="form" method="post">
        <div class="form-control">
            <label asp-for="Student.FirstName"></label>
            <input class="form-field" asp-for="Student.FirstName" />
            <span asp-validation-for="Student.FirstName" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.LastName"></label>
            <input class="form-field" asp-for="Student.LastName" />
            <span asp-validation-for="Student.LastName" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.Street"></label>
            <input class="form-field" asp-for="Student.Street" />
            <span asp-validation-for="Student.Street" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.ZipCode"></label>
            <input class="form-field" asp-for="Student.ZipCode" />
            <span asp-validation-for="Student.ZipCode" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.City"></label>
            <input class="form-field" asp-for="Student.City" />
            <span asp-validation-for="Student.City" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.PhoneNumber"></label>
            <input class="form-field" asp-for="Student.PhoneNumber" />
            <span asp-validation-for="Student.PhoneNumber" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.Email"></label>
            <input class="form-field" asp-for="Student.Email" />
            <span asp-validation-for="Student.Email" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Student.Password"></label>
            <input class="form-field" asp-for="Student.Password" />
            <span asp-validation-for="Student.Password" class="error-field"></span>
        </div>

        <button type="submit" class="button">Spara</button>
    </form>
</section>