@page
@model AdminClient.Pages.Teachers.CreateTeacher

@section styles {
<link rel="stylesheet" href="~/css/form.css">
}

@{
    ViewData["Title"] = "Add teacher";
}

<header>
    <h1 class="page-title">Add teacher</h1>
</header>
<section class="form-wrapper">
    <partial name="_StatusMessage" for="StatusMessage" />
    <form class="form" method="post">
        <div class="form-control">
            <label asp-for="Teacher.FirstName"></label>
            <input class="form-field" asp-for="Teacher.FirstName" />
            <span asp-validation-for="Teacher.FirstName" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.LastName"></label>
            <input class="form-field" asp-for="Teacher.LastName" />
            <span asp-validation-for="Teacher.LastName" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.Street"></label>
            <input class="form-field" asp-for="Teacher.Street" />
            <span asp-validation-for="Teacher.Street" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.ZipCode"></label>
            <input class="form-field" asp-for="Teacher.ZipCode" />
            <span asp-validation-for="Teacher.ZipCode" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.City"></label>
            <input class="form-field" asp-for="Teacher.City" />
            <span asp-validation-for="Teacher.City" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.PhoneNumber"></label>
            <input class="form-field" asp-for="Teacher.PhoneNumber" />
            <span asp-validation-for="Teacher.PhoneNumber" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.Competences"></label>
            <select class="form-field" asp-for="Teacher.Competences" asp-items="Model.Categories"></select>
            <span asp-validation-for="Teacher.Competences" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.Email"></label>
            <input class="form-field" asp-for="Teacher.Email" />
            <span asp-validation-for="Teacher.Email" class="error-field"></span>
        </div>
        <div class="form-control">
            <label asp-for="Teacher.Password"></label>
            <input class="form-field" asp-for="Teacher.Password" />
            <span asp-validation-for="Teacher.Password" class="error-field"></span>
        </div>

        <button type="submit" class="button">Spara</button>
    </form>
</section>