@page
@model IndexModel
@{
    ViewData["Title"] = "Admin - Start";
}
<header>
    <h1 class="page-title">SimplE - Administration</h1>
</header>
<section class="index-page-instructions">
    <h2>Administration tools</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore est aspernatur iure nihil, earum corporis,
        dolor
        repellat sapiente magnam, accusamus hic neque minima id sequi odio! Reiciendis vel nostrum ab.
        Cum laboriosam quia ea consequuntur dignissimos quidem eaque neque sequi corporis magni libero eum sunt
        asperiores ex nam, incidunt placeat minus odit exercitationem porro alias sapiente vero. Illum, repellendus
        optio.
        Harum qui, ut corporis repellendus itaque reiciendis. Inventore voluptatem dolore tempora illum iusto iste,
        quibusdam beatae veritatis commodi odit esse est illo molestias, facere quod laborum libero sit, natus
        laboriosam.
        Minima, ipsum quas sunt aliquam unde natus numquam at voluptates, nam voluptatem odit iusto minus
        reiciendis,
        possimus illum in quod odio dolore obcaecati dolores modi beatae. Expedita eligendi incidunt nisi?</p>
</section>
